<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70440230712-143tuivnesaul6ovur0v4ikjca04dtls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70440230712-143tuivnesaul6ovur0v4ikjca04dtls</string>
	<key>API_KEY</key>
	<string>AIzaSyAHDaw54VTo7LSFV9oG-JCWMRW_NZVc4Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>70440230712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter_course</string>
	<key>PROJECT_ID</key>
	<string>ryanmlk-learningdart</string>
	<key>STORAGE_BUCKET</key>
	<string>ryanmlk-learningdart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70440230712:ios:57cbd68500f05e0a61abcd</string>
</dict>
</plist>